* {
	font-family: 'Space Mono', monospace;
	font-weight: bold;
	letter-spacing: 0.5px;
}

body {
	background: hsl(185, 41%, 84%);
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

	/*TITLE*/

h2 {
	margin-bottom: 0.5em;
	letter-spacing: 10px;
}

header {
	color: hsl(183, 100%, 15%);
	text-align: center;
}

/*--------------------------------------*/

main {
	max-width: 1440px;
	margin: 0px auto;
}

.subtitle {
	color: hsl(186, 14%, 43%);
	font-size: 14px;
}

.tip-box .subtitle {
	margin-bottom: 1rem;
}

.total-box__subtitle {
	color: hsl(0, 0%, 100%);
	margin-bottom: 4px;
	font-size: 14px;
	letter-spacing: 0.5px;
	/* font-weight: 500; Corregir */
}

.total-box__subtitle2 {
	color: hsl(186, 14%, 43%);
	font-size: 12px;
	letter-spacing: 0.5px;
}

.flex-container-desktop {
	display: flex;
	background: hsl(0, 0%, 100%);
	border-radius: 1rem;
	max-width: 800px;
	margin: 50px auto 200px;
	padding: 1.75rem;
}

.flex-container {
	background: hsl(0, 0%, 100%);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1 0 250px;
	min-width: 200px;
	padding: 1rem;
	height: 350px;
}

.container-left {
	padding: 1rem 2.75rem 1rem 1rem;
}

.container-right {
	justify-content: space-between;
	background: hsl(183, 100%, 15%);
	border-radius: 10px;
	padding: 0px 40px 40px;
}

.desktop-item-left {
	background: hsl(0, 0%, 100%);
}

.desktop-input__bill {
	background: #f3f8fb url('./images/icon-dollar.svg') no-repeat 16px 12px;
}

.desktop-input__person {
	background: #f3f8fb url('./images/icon-person.svg') no-repeat 16px 12px;
}

.desktop-input__bill, .desktop-input__person {
	color: hsl(183, 100%, 15%);
	border: none;
	border-radius: 2.5px;
	text-align: right;
	margin-top: 10px;
	padding: 1.25rem 1rem 1.25rem 1.25rem;
	width: 100%;
	height: 30px;
	font-size: 1.25rem;
	caret-color: #5baba2;
}

.desktop-input__bill:hover, .desktop-input__person:hover, 
.tip-button:hover { 
	cursor: pointer;
}

.desktop-input__bill:focus, .desktop-input__person:focus { 
	outline: 2.5px solid #5AA89E;
}

.tip-button:active { 
	background-color: #9FE8DF;
	color: hsl(183, 100%, 15%);
}

.flex-container-button {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1 fr);
	justify-items: center;
	gap: 10px;
	margin-top: 1rem;
}

.tip-button {
	font-family: 'Space Mono', monospace;
	font-size: 1.25rem;
	font-weight: 600;
	background: hsl(183, 100%, 15%);
	color:hsl(0, 0%, 100%);
	border: none;
	border-radius: 5px;
	text-align: center;
	width: 100%;
	min-width: 75px;
	padding: 8px;
}

.input-tip {
	background-color: #f3f8fb;
	color: hsl(183, 100%, 15%);
	border-radius: 5px;
	caret-color: #5baba2;
}

.input-tip::placeholder {
	color: #577A79;
}

.input-tip:focus {
	outline: 2.5px solid #5AA89E;
	text-align: center;
}

.container-result {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container-subtitle {
	min-width: 100px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.tip-amount, .total {
	background-color: hsl(183, 100%, 15%);
	color:hsl(172, 67%, 45%);
	font-size: 2.5rem;
	border: none;
	text-align: right;
	width: 70%;
}

.button-select {
	background-color: hsl(172, 67%, 45%);
	color: hsl(183, 100%, 15%);
}

.button-reset {
	color: hsl(183, 100%, 15%);
	border: none;
	border-radius: 5px;
	width: 100%;
	padding: 10px;
}

.button-reset:active {
	background-color: #9FE8DF;
}

.btn-disable {
	background-color: #9fe8df26;
	filter: blur(0.8px);
}

.btn-able {
	background-color: hsl(172, 67%, 45%);
	filter: blur(0px);
}

.btn-able:hover {
	cursor: pointer;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px;
}

.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%);}

/* -----------------------------------------ERRORES-------------------------------- */

#subtitle-people {
	width: 55%
}

#error-persons {
	display: none;
	width: 45%;
}

.subtitle.error {
	color: #ff9e81;
	margin-top: 5px;
}

.input-error {
	outline: 2.5 solid #B07667;
}

.input-error:focus {
	outline: 2.5 solid #B07667;
}

@media screen and (max-width:768px) {

	* {
		letter-spacing: 0px;
	}

	body {
		height: auto;
	}

	header {
		margin-top: 50px;
	}

	.flex-container-mobile {
		flex-direction: column;
		margin: 50px auto;
	}

	.flex-container {
		height: auto;
	}

	.container-left {
		padding: 1rem;
	}

	.flex-item-left {
		margin-bottom: 1.75rem;
	}

	.flex-container-button {
		grid-template-columns: repeat(2, 1fr);
	}

	footer {
		position: relative;
	}

}

@media screen and (max-width: 480px) {

	.container-right {
		padding: 0rem 2rem 2rem;
	}

	.total-box__input {
		font-size: 2.25rem;
	}
}


@media screen and (max-width: 375px) {
	
	/*MOBILE CSS DESIGN*/

	/*TITLE*/

	header {
		margin-top: 40px;
	}

	/*----------------------------------------*/

	.flex-container-mobile {
		margin: 30px 0 100px;
		padding: 1.5rem;
		min-width: 100%;
	}

	.flex-left {
		padding: 0.5rem;
	}

	.subtitle {
		font-size: 14px;
		margin: 0px;
	}

	.tip-box .subtitle {
		margin-bottom: 1rem;
	}

	.total-box {
		margin: 0px;
		padding: 1.5rem;
		height: 200px;
		border-radius: 1rem;
	}

	.left-input__bill, .left-input__person {
    	background-position: 15px 15px;
		height: 45px;
		font-size: 1.5rem;
		min-width: 240px;
	}

	.flex-container-button {
		gap: .9rem;
	}

	.tip-button {
		padding: 0.625rem;
		font-size: 1.5rem;
	}

	.container-result {
		margin: 1rem 0rem 1.5rem;
	}

	.container-subtitle {
		margin: 0px;
	}

	.total-box__subtitle {
		font-size: 14px;
	}

	.tip-amount, .total {
		font-size: 2rem;
	}

	.button-reset {
		padding: 0.8rem;
		font-size: 1.25rem;
	}

}